
body {
  background-color: #faf3f5;
  font-family: Lato, sans-serif;
  font-weight: 400;
}

/* General Styles */
.PositiveChange {
  color: green;
}

.NegativeChange {
  color: red;
}


/* Styling of the Overview Page*/
.StockList {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 50px 25px 25px 100px;
}

.StocklistItem:hover {
  box-shadow: inset 0 0 9px 11px #e0dbdd;
  width: 600px;
}

.StocklistItem a {
  width: 600px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: black;

}

.StocklistItem p {
  align-items: center;
  text-align: center;
  min-width: 75px;
  margin: 0px 10px 0px 10px;
}

.StocklistItem p:first-of-type {
  width: 175px;

}


/* Styling of the StockDetail Page*/
.StockDetailPage-Header h2 {
  margin: 30px 10px 10px 100px;
}

.StockDetailPage-Header h3 {
  margin: 5px 10px 25px 100px;
  opacity: 0.4;
}

.StockDetailPage-Description p {
  width: 725px;
  margin: 10px 10px 10px 100px;
  text-align: justify;
  font-style: italic;
  font-size: 1.05em;
}

.StockDetailPage-PriceChart {
  margin-left: 50px;
}