
body {
  background-color: #faf3f5;
  font-family: Lato, sans-serif;
  font-weight: 400;
}

/* General Styles */
.PositiveChange {
  color: green;
}

.NegativeChange {
  color: red;
}


/* Styling of the Overview Page*/
.StockList {
  list-style: none;
}

.StocklistItem {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.StocklistItem p {
  align-items: center;
  text-align: center;
  min-width: 75px;
  margin: 0px 10px 0px 10px;
}

.StocklistItem p:first-of-type {
  width: 175px;
}


/* Styling of the StockDetail Page*/
.StockDetailPage-Header h2 {
  margin: 30px 10px 10px 30px;
}

.StockDetailPage-Header h3 {
  margin: 5px 10px 25px 30px;
  opacity: 0.4;
}

.StockDetailPage-Description p {
  width: 700px;
  margin: 10px 10px 10px 30px;
  text-align: justify;
  font-style: italic;
  font-size: 1.05em;
}